.pagination .page-item.active .page-link {
    background-color: #253646!important;
}

.my-text{
    cursor: default!important;
}

.background-image{
    width:auto;
    height:100%;
    background-image:url(/src/views/Main/images/SiteWebHQ.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:contain;
}

.MuiToolbar-gutters {
    padding-left: 24px!important;
    padding-right: 24px!important;
}

.MuiSvgIcon-root{
    font-size: 2.5rem!important;
}